<h2> Input </h2>
<%= form_tag do %>
  <p>
    <%= label_tag :for_spell2, 'Spell Check' %>
    <%= text_area_tag 'for_spell', @for_spell, placeholder: 'Put words here to check spelling' %>
  </p>

  <p>
    <%= label_tag :for_format2, 'Format'%>
    <%= text_area_tag 'for_format', @for_format, placeholder: 'Put words here to format' %>
    </p>

    <%= submit_tag %>
<% end %>

<h2>Results</h2>
<h3>Spell Check</h3>
<pre><%=@spell_results%></pre>
<h3>Formatting</h3>
<%=@format_results%>
